body {
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
    background-color: mediumspringgreen;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
}
table,th,td {
    background: rgb(241, 182, 55);
    border: 5px solid rgb(245, 6, 6);
    border-collapse: collapse;
    font-size: 20px;
    margin: 0 auto;
    font-family: cursive;
}
th,td {
    padding: 5px;
    text-align: center;
}
h1{
    color: rgb(255, 6, 6);
    text-align: center;
    font-family: cursive;
}
button{
    background: rgba(19, 30, 187, 0.7);
    color: rgb(250, 250, 250);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    position:relative;
    left:40%;
    margin:2% auto ;
    border-radius: 15px;
    border: 2px solid rgb(255, 1, 1);
    font-family: cursive;
}
footer{
    float: left;
    width: 97%;
    height: 70px;
    background: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 40px;
}
    